<h3><%= @study.acaname %></h3>
<h5><%= @study.location %></h5>
<p><% if @study.degree != nil %><%= @study.degree %><% end %></p>
<p><%= @study.startdate %> to 
<%= @study.enddate %></p>
<p><%= @study.description %></p>
<% if user_signed_in? && current_user.admin? %>
<%= link_to("Click to remove study.", "/studies/#{@study.id}", method: :delete, data: {confirm: "Deleting #{@study.acaname}"}, class: "btn btn-danger") %><br>
<%= link_to("Click to edit", "/studies/#{@study.id}/edit", class: "btn btn-warning") %>
<% end %>