<h3><%= @experience.expname %></h3>
<h5><%= @experience.title %></h5>
<p><%= @experience.description %></p>
<p><%= @experience.years %> year(s)</p>
<% if user_signed_in? && current_user.admin? %>
<%= link_to("Click to remove experience.", "/experiences/#{@experience.id}", method: :delete, data: {confirm: "Deleting #{@experience.expname}"}, class: "btn btn-danger")%>
<%= link_to("Click to edit experience.", "/experiences/#{@experience.id}/edit", class: "btn btn-warning") %>
<% end %>